body {
  margin: 0;
  padding: 0;
  font-family: 'Cormorant Garamond', serif;
  background-color: white;
}



.page-container {
  display: flex;
  justify-content: center;
  background-color: #e0eeee;
  min-height: 100vh;
}

@media (max-width: 600px) {
  p, li, table {
    margin-left: 5px;
  }

  table {
    width: 100%;
  }
}


.inner-container {
  background-color: white;
  width: 100%;
  max-width: 850px;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}


#header {
  height: 50px;
 font-size: 22px;
  background-color: #ffcccc;
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: 'Georgia', serif;
  font-weight: bold;
  margin: 5px 0;
}

.head {
  font-size: 17px;
  font-weight: 550;
  margin-top: 20px;
  margin-bottom: 5px;  /* Reduce space below headings */
}

.head + ul {
  margin-top: 0; /* Remove extra gap between heading and its list */
}

p, li {
  margin-left: 20px;
}

ul {
  margin-bottom: 15px; /* Space between list and next section */
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
}

table {
  width: 95%;
  margin-left: 20px;
}
